<div class="text-center">
    <h1 class="site-heading text-center"><b><span>C</span>AMERON MARSHALL</b></h1>
</div>
<div class="container" id="top">
    <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-2">
            <div class="media">
                <img src="/assets/img2.jpg" id="picture">
            </div>
        </div>
        <div class="col-sm-1"></div>
        <div class="col-8">
            <h2 class="text-center" id="top-text">Software Developer, developing new and cutting edge technology that is designed to shap the path of the future for software.</h2>
        </div>
    </div>
</div>

<div id="language">
    <div class="row">
        <div class="col-3"></div>
        <% @categories.each do |category| %>
            <div class="col-sm-3">
                <div class="list-group">
                    <button type="button" class="btn btn-outline-black32 list-group-item"><a href="/categories/<%= category.id %>"><%= category.name %></a></button>
                </div>
            </div>
        <% end %>
    </div>
    <div class="col-1"></div>
</div> 

<div class="container"> 
    <div class="row">
        <% @posts.each do |post| %>
            <div class="col-3">
                <div class="card-deck">
                    <div class="card md-4">
                        <%= link_to post_path(post) do %>
                            <%= image_tag post.image, class: 'card-img-top' %>
                            <div class="card-body">
                                <h3 class="card-title text-center"><%= post.title %></h3>
                                <p class="card-text"><%= post.subject %></p>
                                <button type="button" class="btn-sm btn-dark text-center">View</button>
                            </div>
                        <% end %>
                    </div>
                </div>
            </div>
        <% end %>
    </div>
</div>

