<div class="row">
  <div class="col-1"></div>
  <div class="col-sm-6">
    <% @posts.each do |post| %>
      <div class="row">
        <div class="card md-4">
          <%= link_to post_path(post) do %>
            <%= image_tag post.image, class: 'card-img-top' %>
            <div class="card-body">
              <h4 class="card-title text-center"><%= post.title %></h4>
              <p class="card-text"><%= post.overview %></p>
            </div>
            <div class="card-footer">
              <p class="card-text"><small class="text-muted">Date posted: <%= post.created_at %></small></p>
              <button type="button" class="btn-sm btn-primary text-right">Read more ></button>
            </div>

          <% end %>
        </div>
      </div>
    <% end %>
  </div>
  <div class="col-1"></div>
  <div class="col-sm-3">
    <div class="text-center">
      <h2>Categories</h2>
    </div>
    <div class="row">
      <% @categories.each do |category| %>
        <div class="list-group">
          <button type="button" class="list-group-item justify-content-between"><a href="/categories/<%= category.id %>"><%= category.name %></a></button>
        </div>
      <% end %>
    </div>
  </div>
  <div class="col-sm-1"></div>
</div>
