<div class="text-center">
    <h1 class="site-heading text-center"><b><span>C</span>AMERON MARSHALL</b></h1>
</div>
<div class="container" id="top">
    <div class="row">
        <div class="col-4">
            <div class="media">
                <img src="/assets/img2.jpg" id="picture">
            </div>
        </div>
        <div class="col-md-8">
            <h2 class="text-center" id="top-text">Software Developer, developing new and cutting edge technology that is designed to shape the path of the future for software.</h2>
        </div>
    </div>
</div>
<div id="skills">
    <div class="container">
        <div class="row">
            <h2 id="skills-header"><b>MY SKILLS</b></h2>
        </div>
        <div class="row" id="skills-tools">
            <div class="flex-column">
                <div class="col-md-12">
                    <div class="skill-projectManagement">
                        <h4></i><i class="fa fa-cogs" aria-hidden="true"></i><b> Project Management</b></h4>
                        <ul>
                            <li>Command Line</li>
                            <li>Git</li>
                            <li>Github + Gitlab</li>
                            <li>MAMP</li>
                            <li>Postico</li>
                            <li>Postman</li>
                            <li>Vagrant</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="flex-column">
                <div class="col-md-12">
                    <div class="skill-database">
                        <h4><i class="fa fa-database" aria-hidden="true"></i> <b>Database</b></h4>
                        <ul>
                            <li>mongoDB</li>
                            <li>MySQL</li>
                            <li>SQLite</li>
                            <li>PostgreSQL</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" id="skills-development">
            <div class="col-12">
                <div class="skills-development">
                    <div class="text-center">
                        <h4><i class="fa fa-code" aria-hidden="true"></i> Languages/Frameworks</h4>
                    </div>
                </div>
                <div class="row">
                    <ul id="skill-list">
                        <li class="dev-item">MEAN</li>
                        <li class="dev-item">JavaScript</li> 
                        <li class="dev-item">Node.js</li>  
                        <li class="dev-item">Python</li>    
                        <li class="dev-item">Django</li>    
                        <li class="dev-item">Angular2+</li>
                        <li class="dev-item">Ruby</li>
                        <li class="dev-item">Rails 5</li>
                        <li class="dev-item">HTML5</li> 
                        <li class="dev-item">CSS3</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- <div id="language">
    <div class="row">
        <div class="col-3"></div>
        <% @categories.each do |category| %>
            <div class="col-sm-3">
                <div class="list-group">
                    <button type="button" class="btn btn-outline-black32 list-group-item"><a href="/categories/<%= category.id %>"><%= category.name %></a></button>
                </div>
            </div>
        <% end %>
    </div>
    <div class="col-1"></div>
</div> --> 

<div class="container"> 
    <div class="row">
        <% @posts.each do |post| %>
            <div class="col-3">
                <div class="card-deck">
                    <div class="card md-4">
                        <%= link_to post_path(post) do %>
                            <%= image_tag post.image, class: 'card-img-top' %>
                            <div class="card-body">
                                <h3 class="card-title text-center"><%= post.title %></h3>
                                <p class="card-text"><%= post.subject %></p>
                                <button type="button" class="btn-sm btn-dark text-center">View</button>
                            </div>
                        <% end %>
                    </div>
                </div>
            </div>
        <% end %>
    </div>
</div>

