<div class="container post-container">

<!--  Post title row  -->
	<div class="row">
		<div class="col-lg-12 text-center">
			<h1 class="page-header"><%= @post.title %></h1>
			<hr>
		</div>
	</div>
<!--  end-row  -->

<!-- Post content row   -->
	<div class="row">
		<div class="col-md-8">
			<%= image_tag @post.image, class: "img-fluid" %>
		</div>

		<div class="clo-md-4">
			<p><%= @post.content %></p>
		</div>
	</div>
<!--  end-row  -->


<!--  Related  -->
	<div class="col-lg-12 text-center">
		<u><h3 class="page-header">Related Posts</h3></u>
	</div>
	<div class="row">
		<% @posts.each do |post| %>
			<div class="col-md-3 col-sm-6">
				<%= link_to post_path(post) do %>
					<%= image_tag post.image, class: 'img-fluid img-thumbnail' %>
				<% end %>
			</div>
		<% end %>
	</div>

	<%= link_to 'Back', posts_path %>
</div>